/* body {font-family: sans-serif;} */

body {
  font: normal 18px/1.5 'Fira Sans', 'Helvetica Neue', sans-serif;
  /* background: #3aafab;
  color: #fff; */
  background: white;
  color: black;
  /* padding: 50px 0; */
  padding-left: 1rem;
  padding-right: 1rem;
}

#title-logo {
  margin-left: 0;
}

#chairLogo {
  margin-left: 10px;
  margin-right: 2rem;
}

.confirmation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.shipping {
  margin: 0px 20px;
  width: 64px;
  height: 44px;
  display: inline-flex;
  vertical-align: middle;
  display: inline-block;
}

.cart {
  margin: 0px 70px;
  width: 64px;
  height: 44px;
  display: inline-flex;
  vertical-align: middle;
  display: inline-block;
}

.update-product-title {
  font-size: 23px;
  /* font-style: italic; */
  margin: 20px 0 10px;
  padding: 0 0 10px;
  position: relative;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(80, 80, 80);
}

.form {
  background-color: rgb(194, 194, 194);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  /* height: 3rem; */
  margin: 0;
  padding: 0;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

.nav-ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-top: 1em;
  padding-left: 0;
  text-align: center;
  overflow: hidden;
}

.nav-li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  /* display: inline; */
  margin-left: 1em;
  /* margin-right: 1em; */
  font-size: 16px;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
  font-weight: bold;
}

#categories {
  width: 90%;
  height: 150px;
  margin-top: 1rem;
  border: 1px solid rgb(145, 145, 145);
  box-sizing: border-box;
  margin-left: 60px;
}

.category {
  margin: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 13px;
  width: 30%;
  position: relative;
  float: left;
  top: 10px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.add-to-cart {
  margin: 3px 0 1em 0;
  height: 25px;
  width: 80%;
  color: #f5f2ff;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.add-new-product {
  /* margin: 3px 0 3em 0; */
  margin: 30px 10px 0 180px;
  position: relative;
  top: 80%;
  /* left: 20%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  width: 50%;
  text-align: center;
  /* margin: 15px 0 0 0; */
  /* position: center; */
  color: #f5f2ff;
  background-color: #a6b10e;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.admin-product-btn {
  height: 30px;
  width: 25%;
  margin-right: 2%;
  position: center;
  color: #f5f2ff;
  background-color: #a6b10e;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.full-price {
  position: relative;
  right: 30px;
  top: 210%;
  margin-left: 90%;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 700;
}

.checkout {
  height: 30px;
  width: 25%;
  margin: 0 2% 2% 0;
  position: absolute;
  right: 10px;
  color: #f5f2ff;
  background-color: #a6b10e;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.best-seller {
  font-size: 23px;
  /* font-style: italic; */
  margin: 20px 0 10px;
  padding: 0 0 10px;
  position: relative;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: 700;
  color: rgb(80, 80, 80);
}

.best-seller::after {
  background-color: #707070;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 40px;
}

.review-order {
  font-size: 23px;
  /* font-style: italic; */
  margin: 20px 0 10px;
  padding: 0 0 10px;
  position: relative;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(80, 80, 80);
}

.review-order::after {
  background-color: #707070;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 40px;
}

.products-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2% 1% 0 1%;
  flex-wrap: wrap;
}

.products-container {
  width: 30%;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 3%;
  width: 100%;
  /* order: 2; */
}

.cart-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2% 1% 0 1%;
  flex-wrap: wrap;
}

.cart-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cart-products-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 5%;
  width: 50%;
  font-size: medium;
}

.update-qty {
  color: #ffffff;
  background-color: #2e2e2e;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 11px;
  width: 8%;
}

.delete-btn {
  color: #ffffff;
  background-color: #2e2e2e;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 11px;
  width: 20%;
  margin-left: 70%;
}

.single-product-img-info {
  display: flex;
  margin-bottom: 3%;
}

.single-info {
  font-family: sans-serif;
  font-size: medium;
  margin-left: 3%;
}

.single-product-name {
  font-family: sans-serif;
  font-size: x-large;
}

.single-product-info {
  margin-top: 6%;
}

.single-img {
  text-align: left;
  margin: 2%;
  padding: 2%;
}

.product-name {
  font-family: sans-serif;
  font-size: medium;
}

.price {
  margin: 10px 0 0 0;
  font-family: sans-serif;
  font-size: medium;
}

.quantity {
  margin: 5px 0 5px 0;
  font-family: sans-serif;
  font-size: medium;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title {
  margin-left: 2rem;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  color: #cfc9e1;
  background: #4a3b76;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: space-around;
}

.box img {
  width: 120px;
  height: 60px;
}

.headercenter {
  text-align: center;
  width: 100%;
}

.wrapper {
  margin-top: 5%;
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: 'Arimo';
  background-color: coral;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.container {
  width: 65%;
  padding: 5% 10%;
}

h1 {
  align-self: center;
}

.name {
  margin-left: 0%;
  align-items: left;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.leftinput {
  align-items: left;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}

.address-info div {
  width: 70%;
}

.cc-info {
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
}

.cc-info div {
  width: 45%;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btns button {
  margin: 3px 0;
  height: 30px;
  width: 50%;
  color: #cfc9e1;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.btns button a {
  width: 100%;
}

.btns button:disabled {
  border: 1px solid #c9c6c6;
  background-color: #9688c1;
}

.btns button :hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .btns {
    align-items: center;
    /* button: {
      width: 100%;
    } */
  }
  form h1 {
    text-align: center;
  }
  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .cc-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .street,
  .cc-num {
    text-align: center;
  }
  input {
    margin: 5px 0;
    min-height: 40px;
  }
}
